server/CorsairMessengerServer/CorsairMessengerServer.sln

server/CorsairMessengerServer/.vs/

server/CorsairMessengerServer/CorsairMessengerServer/obj/
server/CorsairMessengerServer/CorsairMessengerServer/bin/

ui/.vscode/

*/__pycache__